.about
{
    padding-top: 160px;
    height: 50rem;
}
.our-menu
{
    padding-top: 150px;
    height: 60rem;
}
.our-products
{
    padding-top: 200px;
    height: 60rem;
}
.comment
{
    padding-top: 200px;
    height: 60rem;
}
.map_contact
{
    padding-top: 200px;
    height: 60rem;
}
.our-blog
{
    padding-top: 200px;
    height: 60rem;
}