body
     {
        background-color: black;
     }
     .lol
     {
        width: 330px;
        height: 330px;
        border: 2px solid #922f2fcc;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50%;
     }
     .circle
     {
        width: 30px;
        height: 30px;
        background: rgb(0, 255, 13);
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        overflow: hidden;
        animation:circle 5s linear infinite;
        
     }
     @keyframes circle
     {
        0%
        {
            transform: rotate(0deg)translate(-165px)rotate(0deg);
        }
        100%
        {
            transform: rotate(360deg)translate(-165px)rotate(-360deg);
        }
       
     }